@charset "UTF-8";
.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.videoContainer .backgroundVideo {
  position: absolute;
  top: 0%;
  min-width: 100%;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow: hidden;
  opacity: 1;
  margin: 0 auto;
}

.projects {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  clear: both;
}

.projects section {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
  position: relative;
}

.projects section::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  left: 15%;
  bottom: 30%;
  background-color: #FEFCD7;
  opacity: 0.4;
}

.projects section .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  justify-self: center;
  margin: 10px;
}

.projects section .buttonContainer a {
  cursor: pointer;
  text-align: center;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.projects section .buttonContainer a:nth-child(1) {
  padding-right: 20px;
}

.projects section .buttonContainer a:hover {
  -webkit-transform: translateX(1.5px) translateY(1px) scale(1.1);
          transform: translateX(1.5px) translateY(1px) scale(1.1);
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.projects section .project {
  position: absolute;
  width: 70%;
  margin-top: 0;
  top: 2%;
  text-align: center;
  -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects section .project p {
  margin-bottom: 7%;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.projects section .project h3 {
  text-transform: capitalize;
  margin: 0;
}

.projects section .project .image {
  width: 100%;
  position: relative;
  bottom: 0;
  height: auto;
  min-height: 200px;
  overflow: hidden;
  margin: 10% 0;
  background-position: center;
  background-size: cover;
  background-attachment: absolute;
}

.projects section .project .image::after {
  content: "";
  background-color: #0d444959;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  left: 0;
}

.projects section .project .image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0d444959;
}

.projects section .project .image button {
  position: relative;
  padding: 1rem 1.2rem;
  padding-right: 0.5rem;
  margin: 15% 0 15% auto;
  font-size: 0.8rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FEFCD7;
  border: 1px solid;
  background-color: transparent;
  z-index: 100;
}

.projects section .project .image button:hover {
  border-color: transparent;
}

.projects section .project .image button:before, .projects section .project .image button:after {
  content: '';
  position: absolute;
  -webkit-transition: inherit;
  transition: inherit;
  z-index: -1;
}

.projects section .project .image button:hover {
  color: #FEFCD7;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  cursor: pointer;
}

.projects section .project .image button:hover:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.projects section .project .image button:hover:after {
  background: #0d444959;
  -webkit-transition-delay: .35s;
          transition-delay: .35s;
}

.projects section .project .center:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid #FEFCD7;
  border-left: 0;
  border-right: 0;
}

.projects section .project .center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #FEFCD7;
}

.projects section .project .center:hover:before {
  left: 0;
  width: 100%;
}

.projects section .project .center:hover:after {
  top: 0;
  height: 100%;
}

.projects h2 {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 100px;
  text-transform: capitalize;
  text-align: left;
  position: relative;
}

.projects h2::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0%;
  bottom: 33%;
  background-color: #FEFCD7;
  opacity: 0.4;
}

.projects p {
  font-size: 1.1rem;
  float: left;
  width: 50%;
  text-align: left;
}

.active {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  -webkit-transition: ease-in 2s all;
  transition: ease-in 2s all;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.active div, .active p, .active h3 {
  -webkit-transition: 1.5s ease all;
  transition: 1.5s ease all;
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

.deactive {
  visibility: hidden;
  opacity: 0;
  z-index: -1000;
}

.japanContainer {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.japanContainer .japan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 1000px;
  position: relative;
  overflow: hidden;
}

.japanContainer .japan::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.japanContainer .japan .japanBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 25%;
  background-position: 100% 100%;
  background-size: 70%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.4;
}

.japanContainer .japan .japanContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 10vh;
  padding: 45px 25px;
  padding-left: 0;
  margin-left: 5%;
  width: 35vw;
}

.japanContainer .japaneseInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

.japanContainer .japaneseInfoContainer [data-inviewanimation].japaneseInfo {
  -webkit-transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.japanContainer .japaneseInfoContainer .japaneseInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.japanContainer .japaneseInfoContainer .japaneseInfo .infoItem {
  width: calc(100% / 3 - 10vw);
  margin: 5% 3%;
  padding: 2%;
  margin-bottom: 0%;
  position: relative;
  min-height: 250px;
}

.japanContainer .japaneseInfoContainer .japaneseInfo .infoItem:nth-child(1)::after {
  content: "日本";
}

.japanContainer .japaneseInfoContainer .japaneseInfo .infoItem:nth-child(2)::after {
  content: "は";
}

.japanContainer .japaneseInfoContainer .japaneseInfo .infoItem:nth-child(3)::after {
  content: "最高";
}

.japanContainer .japaneseInfoContainer .japaneseInfo .infoItem:hover::after {
  width: 100%;
  height: 30%;
  opacity: 1;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.japanContainer .japaneseInfoContainer .japaneseInfo .infoItem::after {
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 45%;
  opacity: 0;
  color: #ffb7c5;
  color: #FEFCD7;
  font-size: 1.5rem;
  font-weight: bolder;
  -webkit-transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  max-height: 75vh;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutContainer .about {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 48%;
  height: auto;
  color: #FEFCD7;
  padding: 0 0 40px 0;
}

.aboutContainer .about div {
  width: 100%;
  display: block;
  margin: 0 auto;
  z-index: 3;
  text-align: center;
}

.aboutContainer .about div h2 {
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 100px;
  text-transform: capitalize;
  text-align: left;
  position: relative;
}

.aboutContainer .about div h2::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0%;
  bottom: 33%;
  background-color: #FEFCD7;
  opacity: 0.4;
}

.aboutContainer .about div p {
  font-size: 0.9rem;
  float: left;
  width: 65%;
  text-align: left;
}

.aboutContainer .about div .socialMedia {
  width: 65%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 50px;
  background-color: transparent;
}

.aboutContainer .about div .socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.aboutContainer .about div .socialMedia ul li a {
  text-decoration: none;
}

.aboutContainer .about div div {
  float: right;
  display: block;
  background-position: center;
  background-size: 100%;
  width: 40%;
  height: 300px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.hero {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: block;
  background-color: #0A0A0C;
  z-index: 2;
}

.hero .videoHidden {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90%;
  height: 70vh;
  min-height: 600px;
}

.hero .videoHidden:before, .hero .videoHidden:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 140px;
  left: 20px;
  width: 90%;
  top: 0%;
  background: #777;
  -webkit-box-shadow: 30px 120px 30px 90px rgba(0, 0, 0, 0.7);
  box-shadow: 30px 120px 30px 90px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.hero .videoHidden:after {
  -webkit-box-shadow: -30px 120px 30px 90px rgba(0, 0, 0, 0.7);
  box-shadow: -30px 120px 30px 90px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 20px;
  left: auto;
}

.hero .video {
  position: inherit;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90%;
  height: 70vh;
  min-height: 600px;
  overflow: hidden;
  border: 1px solid #FEFCD7;
  -webkit-box-shadow: rgba(254, 252, 215, 0.11) 0px 310px 200px -250px;
          box-shadow: rgba(254, 252, 215, 0.11) 0px 310px 200px -250px;
  background-color: #0d444959;
}

.hero .video .intro {
  margin: 0 auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  z-index: 10;
}

.hero .video .intro .slogo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #0d444959;
  color: #FEFCD7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.hero .video .intro .slogo .slogoBg {
  overflow: hidden;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.hero .video .intro .slogo .slogoBg:hover {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.3;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  cursor: pointer;
}

.hero .video .intro .slogo .welcome {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .video .intro .slogo .welcome .welcomeTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero .video .intro .slogo .welcome .welcomeTextContainer::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FEFCD7;
  position: absolute;
  left: 0%;
  bottom: 50%;
}

.hero .video .intro .slogo .welcome .welcomeTextContainer p {
  margin: 0;
  padding: 0;
}

.hero .video .intro .slogo .welcome .welcomeTextContainer .welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .video .intro .slogo .welcome .welcomeTextContainer .welcomeText p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 4px 0 0px;
  text-align: center;
  font-size: 1rem !important;
}

.hero .video .intro .slogo .welcome h1 {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-size: 5.5rem;
  margin: 0;
  line-height: 1;
}

.hero .video .intro .slogo .welcome h3 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  font-weight: bold;
  text-align: left;
}

.svg {
  width: 5vw;
  position: absolute;
  left: 5%;
  top: 20%;
}

.svg .path {
  fill: transparent;
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 10s ease-out;
          animation: dash 10s ease-out;
  background-color: transparent;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FEFCD7;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
    fill: #FEFCD7;
  }
}

.header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15vh;
  color: #FEFCD7;
  background-color: #0A0A0C;
}

.header nav {
  width: 50%;
  display: block;
  padding-right: 3%;
}

.header nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  justify-self: flex-end;
}

.header nav ul li {
  margin: 2%;
  font-size: 1.2rem;
}

.header nav ul li a {
  text-decoration: none;
  color: #FEFCD7;
  text-align: center;
}

.sakuraContainer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: -5%;
  bottom: 0;
  z-index: -1;
}

.sakuraContainer .sakuraLeaf:nth-of-type(1) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  -webkit-transform: translateX(101px) rotate(103px);
          transform: translateX(101px) rotate(103px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(2) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-transform: translateX(102px) rotate(106px);
          transform: translateX(102px) rotate(106px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(3) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
  -webkit-transform: translateX(103px) rotate(109px);
          transform: translateX(103px) rotate(109px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(4) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-transform: translateX(104px) rotate(112px);
          transform: translateX(104px) rotate(112px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(5) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
  -webkit-transform: translateX(105px) rotate(115px);
          transform: translateX(105px) rotate(115px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(6) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
  -webkit-transform: translateX(106px) rotate(118px);
          transform: translateX(106px) rotate(118px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(7) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
  -webkit-transform: translateX(107px) rotate(121px);
          transform: translateX(107px) rotate(121px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(8) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  -webkit-transform: translateX(108px) rotate(124px);
          transform: translateX(108px) rotate(124px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(9) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
  -webkit-transform: translateX(109px) rotate(127px);
          transform: translateX(109px) rotate(127px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(10) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-transform: translateX(110px) rotate(130px);
          transform: translateX(110px) rotate(130px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(11) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 4.95s;
          animation-delay: 4.95s;
  -webkit-transform: translateX(111px) rotate(133px);
          transform: translateX(111px) rotate(133px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(12) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
  -webkit-transform: translateX(112px) rotate(136px);
          transform: translateX(112px) rotate(136px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(13) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 5.85s;
          animation-delay: 5.85s;
  -webkit-transform: translateX(113px) rotate(139px);
          transform: translateX(113px) rotate(139px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(14) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
  -webkit-transform: translateX(114px) rotate(142px);
          transform: translateX(114px) rotate(142px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(15) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 6.75s;
          animation-delay: 6.75s;
  -webkit-transform: translateX(115px) rotate(145px);
          transform: translateX(115px) rotate(145px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(16) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
  -webkit-transform: translateX(116px) rotate(148px);
          transform: translateX(116px) rotate(148px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(17) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 7.65s;
          animation-delay: 7.65s;
  -webkit-transform: translateX(117px) rotate(151px);
          transform: translateX(117px) rotate(151px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(18) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
  -webkit-transform: translateX(118px) rotate(154px);
          transform: translateX(118px) rotate(154px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(19) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 8.55s;
          animation-delay: 8.55s;
  -webkit-transform: translateX(119px) rotate(157px);
          transform: translateX(119px) rotate(157px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(20) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-transform: translateX(120px) rotate(160px);
          transform: translateX(120px) rotate(160px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(21) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 9.45s;
          animation-delay: 9.45s;
  -webkit-transform: translateX(121px) rotate(163px);
          transform: translateX(121px) rotate(163px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(22) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
  -webkit-transform: translateX(122px) rotate(166px);
          transform: translateX(122px) rotate(166px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(23) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 10.35s;
          animation-delay: 10.35s;
  -webkit-transform: translateX(123px) rotate(169px);
          transform: translateX(123px) rotate(169px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(24) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 10.8s;
          animation-delay: 10.8s;
  -webkit-transform: translateX(124px) rotate(172px);
          transform: translateX(124px) rotate(172px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(25) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 11.25s;
          animation-delay: 11.25s;
  -webkit-transform: translateX(125px) rotate(175px);
          transform: translateX(125px) rotate(175px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(26) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 11.7s;
          animation-delay: 11.7s;
  -webkit-transform: translateX(126px) rotate(178px);
          transform: translateX(126px) rotate(178px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(27) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 12.15s;
          animation-delay: 12.15s;
  -webkit-transform: translateX(127px) rotate(181px);
          transform: translateX(127px) rotate(181px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(28) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 12.6s;
          animation-delay: 12.6s;
  -webkit-transform: translateX(128px) rotate(184px);
          transform: translateX(128px) rotate(184px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(29) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 13.05s;
          animation-delay: 13.05s;
  -webkit-transform: translateX(129px) rotate(187px);
          transform: translateX(129px) rotate(187px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(30) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
  -webkit-transform: translateX(130px) rotate(190px);
          transform: translateX(130px) rotate(190px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(31) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 13.95s;
          animation-delay: 13.95s;
  -webkit-transform: translateX(131px) rotate(193px);
          transform: translateX(131px) rotate(193px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(32) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 14.4s;
          animation-delay: 14.4s;
  -webkit-transform: translateX(132px) rotate(196px);
          transform: translateX(132px) rotate(196px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(33) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 14.85s;
          animation-delay: 14.85s;
  -webkit-transform: translateX(133px) rotate(199px);
          transform: translateX(133px) rotate(199px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(34) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 15.3s;
          animation-delay: 15.3s;
  -webkit-transform: translateX(134px) rotate(202px);
          transform: translateX(134px) rotate(202px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(35) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 15.75s;
          animation-delay: 15.75s;
  -webkit-transform: translateX(135px) rotate(205px);
          transform: translateX(135px) rotate(205px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(36) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 16.2s;
          animation-delay: 16.2s;
  -webkit-transform: translateX(136px) rotate(208px);
          transform: translateX(136px) rotate(208px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(37) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 16.65s;
          animation-delay: 16.65s;
  -webkit-transform: translateX(137px) rotate(211px);
          transform: translateX(137px) rotate(211px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(38) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 17.1s;
          animation-delay: 17.1s;
  -webkit-transform: translateX(138px) rotate(214px);
          transform: translateX(138px) rotate(214px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(39) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 17.55s;
          animation-delay: 17.55s;
  -webkit-transform: translateX(139px) rotate(217px);
          transform: translateX(139px) rotate(217px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(40) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-transform: translateX(140px) rotate(220px);
          transform: translateX(140px) rotate(220px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(41) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 18.45s;
          animation-delay: 18.45s;
  -webkit-transform: translateX(141px) rotate(223px);
          transform: translateX(141px) rotate(223px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(42) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 18.9s;
          animation-delay: 18.9s;
  -webkit-transform: translateX(142px) rotate(226px);
          transform: translateX(142px) rotate(226px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(43) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 19.35s;
          animation-delay: 19.35s;
  -webkit-transform: translateX(143px) rotate(229px);
          transform: translateX(143px) rotate(229px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(44) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 19.8s;
          animation-delay: 19.8s;
  -webkit-transform: translateX(144px) rotate(232px);
          transform: translateX(144px) rotate(232px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(45) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 20.25s;
          animation-delay: 20.25s;
  -webkit-transform: translateX(145px) rotate(235px);
          transform: translateX(145px) rotate(235px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(46) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 20.7s;
          animation-delay: 20.7s;
  -webkit-transform: translateX(146px) rotate(238px);
          transform: translateX(146px) rotate(238px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(47) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 21.15s;
          animation-delay: 21.15s;
  -webkit-transform: translateX(147px) rotate(241px);
          transform: translateX(147px) rotate(241px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(48) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 21.6s;
          animation-delay: 21.6s;
  -webkit-transform: translateX(148px) rotate(244px);
          transform: translateX(148px) rotate(244px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(49) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 22.05s;
          animation-delay: 22.05s;
  -webkit-transform: translateX(149px) rotate(247px);
          transform: translateX(149px) rotate(247px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(50) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 22.5s;
          animation-delay: 22.5s;
  -webkit-transform: translateX(150px) rotate(250px);
          transform: translateX(150px) rotate(250px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(51) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 22.95s;
          animation-delay: 22.95s;
  -webkit-transform: translateX(151px) rotate(253px);
          transform: translateX(151px) rotate(253px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(52) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 23.4s;
          animation-delay: 23.4s;
  -webkit-transform: translateX(152px) rotate(256px);
          transform: translateX(152px) rotate(256px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(53) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 23.85s;
          animation-delay: 23.85s;
  -webkit-transform: translateX(153px) rotate(259px);
          transform: translateX(153px) rotate(259px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(54) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 24.3s;
          animation-delay: 24.3s;
  -webkit-transform: translateX(154px) rotate(262px);
          transform: translateX(154px) rotate(262px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(55) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 24.75s;
          animation-delay: 24.75s;
  -webkit-transform: translateX(155px) rotate(265px);
          transform: translateX(155px) rotate(265px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(56) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 25.2s;
          animation-delay: 25.2s;
  -webkit-transform: translateX(156px) rotate(268px);
          transform: translateX(156px) rotate(268px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(57) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 25.65s;
          animation-delay: 25.65s;
  -webkit-transform: translateX(157px) rotate(271px);
          transform: translateX(157px) rotate(271px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(58) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 26.1s;
          animation-delay: 26.1s;
  -webkit-transform: translateX(158px) rotate(274px);
          transform: translateX(158px) rotate(274px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(59) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 26.55s;
          animation-delay: 26.55s;
  -webkit-transform: translateX(159px) rotate(277px);
          transform: translateX(159px) rotate(277px);
}

.sakuraContainer .sakuraLeaf:nth-of-type(60) {
  background: #ffb7c5;
  position: absolute;
  top: 0;
  width: 8px;
  height: 10px;
  border-radius: 10px 0;
  margin: 1%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: glow 12s ease-in;
  animation: glow 12s ease-in;
  -webkit-animation-delay: 27s;
          animation-delay: 27s;
  -webkit-transform: translateX(160px) rotate(280px);
          transform: translateX(160px) rotate(280px);
}

.sakuraContainer .sakuraLeaf:nth-child(4n-7) {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.sakuraContainer .sakuraLeaf:nth-child(3n-7) {
  background: #d498a3;
}

@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 20px  #ffb7c5;
            box-shadow: 0 0 10px #fff, 0 0 20px  #ffb7c5;
    top: 0;
    opacity: 1;
  }
  to {
    -webkit-box-shadow: 0 0 20px #fff, 0 0 30px #ffb7c5;
            box-shadow: 0 0 20px #fff, 0 0 30px #ffb7c5;
    top: 100%;
    -webkit-transform: translateX(-400px) rotate(180deg);
            transform: translateX(-400px) rotate(180deg);
  }
}
/*# sourceMappingURL=app.copy.css.map */